<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854455479779-r2g3k4gv881fl3vunh1961e07ep9ur23.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854455479779-r2g3k4gv881fl3vunh1961e07ep9ur23</string>
	<key>API_KEY</key>
	<string>AIzaSyBuzYU5dS9Y6OQKtzl0wJzWbPyW_jF6j20</string>
	<key>GCM_SENDER_ID</key>
	<string>854455479779</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Audio-Traveler</string>
	<key>PROJECT_ID</key>
	<string>candidate-abdul-gafur</string>
	<key>STORAGE_BUCKET</key>
	<string>candidate-abdul-gafur.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854455479779:ios:876e3696450349e0d084d6</string>
</dict>
</plist>